body {
    background-color: rgb(209, 209, 209);
}

#header {
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(209, 209, 209);
    border-radius: 10px;
    height:55px;
}

svg{
    border: 2px solid rgb(209, 209, 209);
    border-radius: 10px;
}
h4{
    margin-top: 5px;
    color: rgb(10, 26, 112);
    display: inline-block;
}

.switch{
    display: inline-block;
    
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: rgb(10, 26, 112);
}

.switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 36px;
    height: 14px;
    background-color: rgba(117, 247, 114, 0.541);
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 16px;
}

.switch label .lever:after {
    background-color: rgba(55, 107, 54, 0.986);
    -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }
#month_tables{
    margin-left: 2%;
    margin-right: 2%;
}

#year_tables{
    margin-left: 2%;
    margin-right: 2%;
    display: none;
}

#leftpanel1{
    margin: 0px;
    padding: 0px;
}

.mregion{
    background-color: rgb(255, 255, 255);
    height: 100%;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 3%;
}

.mregion th{
    text-align: center;
}

.mregion a{
    color: rgb(10, 26, 112);
}

.mregion td{
    text-align:center;
}

.chart{
    border: 2px solid rgb(209, 209, 209);
    border-radius: 10px;
}



.feed{
    background-color: rgb(255, 255, 255);
    height: 100%;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 3%;
}

.feed th{
    text-align: center;
}

.feed a{
    color: rgb(10, 26, 112);
}

#mproperty{
    background-color: rgb(255, 255, 255);
    height: 580px;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 10px;
    overflow-y: scroll;
}

#mproperty::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#mproperty::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#mproperty::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(10, 26, 112);
}

#mproperty th{
    text-align: center;
}

#mproperty a{
    color: rgb(10, 26, 112);
}

#mproperty td{
    text-align:center;
}

#mperson{
    background-color: rgb(255, 255, 255);
    height: 580px;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 10px;
    overflow-y: scroll;
}

#mperson::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#mperson::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#mperson::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(10, 26, 112);
}

#mperson th{
    text-align: center;
}

#mperson a{
    color: rgb(10, 26, 112);
}

#mperson td{
    text-align:center;
}

#leftpanel2{
    margin: 0px;
    padding: 0px;
}

.yregion{
    background-color: rgb(255, 255, 255);
    height: 100%;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 3%;
}

.yregion th{
    text-align: center;
}

.yregion a{
    color: rgb(10, 26, 112);
}

.yregion td{
    text-align:center;
}

#yproperty{
    background-color: rgb(255, 255, 255);
    height: 580px;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 10px;
    overflow-y: scroll;
}
#yrproperty tbody thead{
    position: fixed;
}
#yproperty::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#yproperty::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#yproperty::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(10, 26, 112);
}

#yproperty th{
    text-align: center;
}

#yproperty a{
    color: rgb(10, 26, 112);
}

#yproperty td{
    text-align:center;
}

#yperson{
    background-color: rgb(255, 255, 255);
    height: 580px;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 10px;
    overflow-y: scroll;
}

#yperson::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#yperson::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#yperson::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(10, 26, 112);
}

#yperson th{
    text-align: center;
}

#yperson a{
    color: rgb(10, 26, 112);
}

#yperson td{
    text-align:center;
}
