{# sales_dashboard/templates/sales_dashboard/sales.html #}
{% load render_table from django_tables2 %}
{% load sales_extras %}
<!doctype html>
<html>

<head>
    <title>Sales Performance</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sales_dashboard/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the monthly data table.
            var month_data = google.visualization.arrayToDataTable([
                ['Sales', 'Monthly Sales', 'Sales Left Till Goal', { role: 'annotation' }],
                {% for region in view.regions %}
                    {% for goals in view.goals %}
                            ['{{ region.region_name }}', {{ region.Monthly_Sales }}, {{ goals.mnregion_goal|subtract:region.Monthly_Sales }}, ''],
                    {% endfor %}
                {% endfor %}
            ]);

            var month_options = {
                height: 300,
                title: 'Monthly Sales Per Region\n',
                legend: { position: 'top', maxLines: 3 },
                bar: { groupWidth: '75%' },
                isStacked: true
            };

            
            // Instantiate and draw our chart, passing in some options.
            var month_chart = new google.visualization.BarChart(document.getElementById('month_chart_div'));
            month_chart.draw(month_data, month_options);

            // Create the yearly data table.
            var year_data = google.visualization.arrayToDataTable([
                ['Sales', 'Yearly Sales', 'Sales Left Till Goal', { role: 'annotation' }],
                {% for region in view.regions %}
                    {% for goals in view.goals %}
                            ['{{ region.region_name }}', {{ region.Yearly_Sales }}, {{ goals.yrregion_goal|subtract:region.Yearly_Sales }}, ''],
                    {% endfor %}
                {% endfor %}
            ]);

            var year_options = {
                height: 300,
                title: 'Yearly Sales Per Region\n',
                legend: { position: 'top', maxLines: 3 },
                bar: { groupWidth: '75%' },
                isStacked: true
            };

            
            // Instantiate and draw our chart, passing in some options.
            var year_chart = new google.visualization.BarChart(document.getElementById('year_chart_div'));
            year_chart.draw(year_data, year_options);
        }

        $(window).resize(function () {
            drawChart();
        });
    </script>
</head>

<body>
    <script>
        function switcher() {
            var months = document.getElementById("month_tables")
            var years = document.getElementById("year_tables")
            var ischecked = document.getElementById("viewswitch").checked
            if (ischecked) {
                months.style.display = "none";
                years.style.display = "block";
                drawChart()
            }
            else {
                months.style.display = "block";
                years.style.display = "none";
                drawChart();
            }
        }   
    </script>

    <div class="row" id="header">
        <div class="col s12" id="title">
            <h4>Manufactured Housing Sales Dashboard</h1>
                <div class="switch">
                    <label>
                        Month
                        <input id="viewswitch" type="checkbox" onclick="switcher()">
                        <span class="lever"></span>
                        Year
                    </label>
                </div>
        </div>

    </div>
    <div class="row" id="month_tables">
        <div class="col s4" id="leftpanel1">
            <div id="month_chart_div"></div>
            <div class="feed">
                {% render_table tables.6 %}
            </div>
        </div>
        <div class="col s4" id="mproperty">

            {% render_table tables.1 %}


        </div>
        <div class="col s4" id="mperson">
            {% render_table tables.2 %}
        </div>
    </div>
    <div class="row" id="year_tables">
        <div class="col s4" id="leftpanel2">
            <div id="year_chart_div"></div>
            <div class="feed">
                {% render_table tables.6 %}
            </div>
        </div>
        <div class="col s4" id="yproperty">
            {% render_table tables.4 %}
        </div>
        <div class="col s4" id="yperson">
            {% render_table tables.5 %}
        </div>
    </div>
    
</body>

</html>