{# sales_dashboard/templates/sales_dashboard/sales.html #}
{% load render_table from django_tables2 %}
<!doctype html>
<html>

<head>
    <title>Sales Performance</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sales_dashboard/style.css' %}">

</head>

<body>
    <script>
        //x = document.getElementsByClassName("table");

        function switcher(){
            var months = document.getElementById("month_tables")
            var years = document.getElementById("year_tables")
            var x = document.getElementById("viewswitch")
            alert("My function works")
            
        }
        function monthOnly() {
            var i;
            months = document.getElementById("all_tables").querySelectorAll("#monthly")
            years = document.getElementById("all_tables").querySelectorAll("#yearly")
            for (i = 0; i < 3; i++) {
                months[i].style.display = "block";

            }
            for (i = 0; i < 3; i++) {
                years[i].style.display = "none";
            }
            //document.getElementsByClassName("col-md-4").style.display = "block";
            //document.getElementById("monthly").style.display = "block";
            //document.getElementById("yearly").style.display = "none";
        }
        function yearOnly() {
            months = document.getElementById("all_tables").querySelectorAll("#monthly")
            years = document.getElementById("all_tables").querySelectorAll("#yearly")
            for (i = 0; i < 3; i++) {
                //x[i].style.display = "none";
                months[i].style.display = "none";


            }
            for (i = 0; i < 3; i++) {
                years[i].style.display = "block";

            }
            //document.getElementsByClassName("col-md-4").style.display = "none";
            //document.getElementsByClassName("col-lg-4").style.display = "block";
            //document.getElementById("monthly").style.display = "none";
            //document.getElementById("yearly").style.display = "block";
        }      
    </script>
    
    <div class="row" id="header">
        <h1 class="col s8">Manufactured Housing Sales Dashboard</h1>
        <div class="col s4">
            <div class="switch">
                <label>
                    Month
                    <input id="viewswitch" type="checkbox" onclick="switcher()">
                    <span class="lever"></span>
                    Year
                </label>
            </div>
        </div>

    </div>
    <div class="row" id="month_tables">
        <div class="col l4" id="mregion">
            {% render_table tables.0 %}
            {% render_table tables.6 %}
        </div>
        <div class="col l4" id="mproperty">
            {% render_table tables.1 %}
        </div>
        <div class="col l4" id="mperson">
            {% render_table tables.2 %}
        </div>
    </div>
    <div class="row" id="year_tables">
        <div class="col l4" id="yregion">
            {% render_table tables.3 %}
            {% render_table tables.6 %}
        </div>
        <div class="col l4" id="yproperty">
            {% render_table tables.4 %}
        </div>
        <div class="col l4" id="yperson">
            {% render_table tables.5 %}
        </div>
    </div>
</body>

</html>